.player-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-card {
  margin-left: 50px;
  margin-right: 50px;
}

.row-badge {
  margin-top: 10px;
}

.badge-height {
  height: 25%;
}